<?php

//database connection info
$config['use_database'] = false; // Change to true to enable database
$config['db_host'] = 'localhost';
$config['db_user'] = 'user';
$config['db_pass'] = 'password';
$config['db_name'] = 'wikilayer';

$config['site_base'] = '/';

$config['default_request_type'] = 'json';
$config['default_layout'] = 'default';
$config['default_controller'] = 'wikilayer';
